* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
.d-flex {
    display: flex;
}
.d-fixed {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* =-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-= */
.box {
    box-shadow: 0px 0px 6px 0px gray;
}
.box-fixed {
    box-shadow: 0px 0px 6px 0px gray;
    padding: 1.2rem;
    border-radius: 6px;
}
.boxset-form {
    width: 30%;
}
/* =-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-= */

/* =-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-= */
.form-content h1,h2 {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.form-content p {
    padding: 6px 10px;
}
.form-content .btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    color:dodgerblue;
}
.form-content .btn:hover {
    background-color: dodgerblue;
    color:white;
}
.form-content .img-center {
    display: flex;
    justify-content: center;
}
.form-content .img-center img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.form-content .img-center-content {
    display: flex;
    justify-content: center;
}
.form-content .img-center-content img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.form-content input {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-content .btn-w100 {
    width: 100%;
    cursor: pointer;
}
.text-header {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-content .content-frame {
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 0px gray;
}
.btn {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    color:dodgerblue;
}
.btn:hover {
    background-color: dodgerblue;
    color:white;
}
.btn-w100 {
    width: 100%;
    display: block;
}
.btn-w50 {
    width: 50%;
}
.form-content select {
    padding: 4px;
    width: 100%;
    border: 1px solid #ccc;
}
.img-center {
    display: flex;
    justify-content: center;
}
.img-center img {
    width: 150px;
    height: 150px;
}
/* =-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-= */
.form-login h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.form-login p {
    margin-top: 6px;
    margin-bottom: 6px;
    
}
.form-login input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form-login .btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    color:dodgerblue;
    cursor: pointer;
}
.form-login .btn:hover {
    background-color: dodgerblue;
    color:white;
}
.form-login a {
    text-align: center;
    text-decoration: none;
    display: block;
    color:dodgerblue;
}
/* =-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-= */
.form-register h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.form-register p {
    margin-top: 6px;
    margin-bottom: 6px;
    
}
.form-register input {
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form-register .btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    color:dodgerblue;
    cursor: pointer;
}
.form-register .btn:hover {
    background-color: dodgerblue;
    color:white;
}
.form-register a {
    text-align: center;
    text-decoration: none;
    display: block;
    color:dodgerblue;
}

@media screen and (max-width: 820px) {
    .d-fixed {
        justify-content: center;

    }
    .box-fixed {
        width: 80%;
        margin-top: 50px;
    }

}
@media screen and (max-width: 520px) {
    .d-fixed {
        justify-content: center;
    }
    .box-fixed {
        width: 80%;
        margin-top: 50px;

    }
    
}