*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial,sans-serif;
}
.d-flex {
    display: flex;
}
.d-fixed {
    display: flex;
    gap:50px;
    flex-wrap: wrap;
    justify-content: center;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* ------------------------------------ */
.box {
    box-shadow: 0px 0px 6px 0px gray;
}
.box-fixed {
    box-shadow: 0px 0px 6px 0px gray;
    padding: 1.2rem;
    border-radius: 6px;
}
.boxset-form {
    width: 30%;
}
/* ------------------------------------ */
a {
    text-decoration: none;
}
.jcc {
    justify-content: center;
}
/* ------------------------------------ */
.form-content h1,h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-content .p-frame {
    border: 2px solid #ccc;
}
.form-content .p-frame p {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
}
.form-content .btn {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: #FF9800;
    color:white;
    font-weight: bold;
    font-size:16px;
    text-align: center;
}
.form-content .btn:hover {
    border: 2px solid #FF9800;
    background-color: white;
    color:#FF9800;
}
.form-content .a-btn {
    display: block;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: #FF9800;
    color:white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.form-content .a-btn:hover {
    border: 2px solid #FF9800;
    background-color: white;
    color:#FF9800;
}
.form-content .img-center {
    display: flex;
    justify-content: center;
}
.form-content .img-center img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
/* ------------------------------------ */
.form-login h1,h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-login .img-center {
    display: flex;
    justify-content: center;
}
.form-login p {
    margin-top: 6px;
    margin-bottom: 6px;
}
.form-login input {
    width: 100%;
    padding: 10px;
}
.form-login .btn {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: #FF9800;
    color:white;
    font-weight: bold;
    font-size:16px;
    text-align: center;
}
.form-login .btn:hover {
    border: 2px solid #FF9800;
    background-color: white;
    color:#FF9800;
}
.form-login a {
    text-align: center;
    display: block;
    color:black;
}
/* ------------------------------------ */
.form-register h1,h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-register .img-center {
    display: flex;
    justify-content: center;
}
.form-register .img-center img {
    width: 100px;
    height: 100px;
}
.form-register p {
    margin-top: 6px;
    margin-bottom: 6px;
}
.form-register input {
    width: 100%;
    padding: 4px;
}
.form-register select {
    padding: 4px;
    width: 100%;
}
.form-register .btn {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: #FF9800;
    color:white;
    font-weight: bold;
    font-size:16px;
    text-align: center;
}
.form-register .btn:hover {
    border: 2px solid #FF9800;
    background-color: white;
    color:#FF9800;
}
.form-register a {
    text-align: center;
    display: block;
    color:black;
}

.a2-btn {
    width: 20%;
    display: block;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: #FF9800;
    color:white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
 .a2-btn:hover {
    border: 2px solid #FF9800;
    background-color: white;
    color:#FF9800;
}