* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
/* =================================== */
.d-flex {
    display: flex;
}
.d-fixed {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
/* =================================== */
.box {
    box-shadow: 0px 0px 6px 0px gray;
}
.box-fixed {
    box-shadow: 0px 0px 6px 0px gray;
    padding: 1.2rem;
    border-radius: 6px;
}
.boxset-form {
    width: 30%;
}
/* =================================== */
.form-style h1 {
    margin:12px 0px 12px 0px;
    text-align: center;

}
.form-style h2 {
    margin:12px 0px 12px 0px;
    text-align: center;

}
.form-style p {
    margin:6px 0px 6px 0px;
}
.form-style input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    outline: none;
}
.form-style input:focus {
    border: 1px solid dodgerblue;
}
.form-style button {
    width: 100%;
    padding:10px 12px;
    border: none;
    background-color: dodgerblue;
    border-radius: 3px;
    color:#fff;
    cursor: pointer;
}
.form-style button:hover {
    background-color: rgb(25, 112, 199);
}
.form-style a {
    display: block;
    text-align: center;
    text-decoration: none;
    color:dodgerblue;

}   
.form-style .image {
    display: flex;
    justify-content: center;
}
/* =================================== */
.btn-dodgerblue {
    width: 100%;
    padding:10px 12px;
    border: none;
    background-color: dodgerblue;
    border-radius: 3px;
    color:#fff;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}
.btn-dodgerblue:hover {
    background-color: rgb(25, 112, 199);
}
.btn-dodgerblueshort {
    padding:10px 12px;
    border: none;
    background-color: dodgerblue;
    border-radius: 3px;
    color:#fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.btn-dodgerblueshort:hover {
    background-color: rgb(25, 112, 199);
}
/* =================================== */
h1 {
    text-align: center;
}